.svg {
  fill: currentColor;
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  width: 15px;
  height: 15px;
  flex-shrink: 0;

  &--mid {
    width: 18px;
    height: 18px;
  }

  &--small {
    width: 12px;
    height: 12px;
  }

  &--smaller {
    width: 10px;
    height: 10px;
  }
}
